@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

img {
  max-width: 100%; }

input {
  outline: none;
  border: none; }

button {
  outline: none;
  border: none; }

a {
  text-decoration: none;
  color: #000; }

ul {
  list-style: none; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400; }

.search {
  position: fixed;
  top: 7.4rem;
  left: 0;
  right: 0;
  z-index: 3;
  display: flex;
  gap: 1.5rem;
  padding: .5rem 2rem;
  align-items: center;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1); }
  .search__input {
    width: 27rem; }
    .search__input-box {
      display: flex;
      align-items: center;
      border: 0.1rem solid rgba(0, 0, 0, 0.1);
      padding: 1rem; }
  .search__select {
    width: 10rem;
    text-align: center;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    background: none;
    color: #460AF0;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    padding: .5rem; }

.icon {
  font-size: 1.8rem;
  color: #460AF0; }
  .icon--heart {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #fff;
    font-size: 3rem; }

.btn {
  background: #460AF0;
  color: #fff;
  padding: .5rem 1rem;
  border-radius: .3rem; }

.hero {
  margin-top: 12.5rem;
  z-index: -2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 12.5rem);
  overflow: scroll; }

.map-container {
  width: 50vw;
  height: 100%;
  position: fixed; }

.realEstate {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem; }
  .realEstate__details {
    display: flex;
    justify-content: space-between; }
  .realEstate__agents {
    padding: .5rem 2rem;
    font-size: 1.3rem;
    background: #00B4FF;
    color: #fff;
    border-radius: 3rem; }
  .realEstate__select {
    color: #460AF0;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    background: none; }
    .realEstate__select-box {
      display: flex;
      gap: .5rem;
      align-items: center; }
      .realEstate__select-box label {
        font-weight: 500; }

.estates {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(29.5rem, 1fr));
  gap: 1rem;
  box-shadow: -0.5rem 0 1rem rgba(0, 0, 0, 0.1);
  z-index: 1000; }

.estate {
  position: relative;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }
  .estate__details {
    padding: 1rem; }
  .estate__img {
    transition: transform .2s ease-in; }
    .estate__img:hover {
      transform: scale(1.2); }
    .estate__img-box {
      height: 15.8rem;
      overflow: hidden; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 0.15rem solid rgba(0, 0, 0, 0.1); }
  .header .logo {
    width: 12rem; }
  .header .menu {
    display: flex;
    gap: 1.5rem;
    font-size: 1.3rem; }
  .header__options {
    display: flex;
    gap: 1.5rem;
    font-size: 1.3rem; }
  .header__option {
    display: flex;
    gap: .5rem;
    align-items: center; }
    .header__option__icon {
      width: 2rem; }
      .header__option__icon--flag {
        border-radius: 50%;
        height: 2rem; }
